<launch>
    <rosparam command="load" file="$(find loam_livox)/config/performance_precision.yaml" />
    <param name="common/pcd_save_dir" type="string" value="$(env HOME)/Loam_livox" />
    <param name="common/log_save_dir" type="string" value="$(env HOME)/Loam_livox" />
    <param name="common/loop_save_dir" type="string" value="$(env HOME)/Loam_livox" />

    <param name="common/if_verbose_screen_printf" type="int" value="1"/>

    <param name="feature_extraction/mapping_line_resolution" type="double" value="0.05"/>
    <param name="feature_extraction/mapping_plane_resolution" type="double" value="1.2"/>

    <node pkg="loam_livox" type="livox_scanRegistration" name="livox_scanRegistration">
     <remap from="/laser_points_0" to="/livox/lidar" />
    </node>

    <node pkg="loam_livox" type="livox_laserMapping" name="livox_laserMapping" output="screen" />

    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find loam_livox)/rviz_cfg/rosbag.rviz" />
    </group>

</launch>